# Temp
README.md

.idea/
.idea_modules/
out/

*.iml
*.iws
*.ipr
modules.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
